In [1]:
## Номер варінту

In [2]:
N = (16 + 4) % 5 + 1
print(N)

1

In [3]:
## Дані з файлу

In [4]:
import pandas as pd

df = pd.read_csv('NationalNames.csv')

In [5]:
## №1 
### Перші 8 рядків

In [6]:
print(df.head(8))

   Id       Name  Year Gender  Count
0   1       Mary  1880      F   7065
1   2       Anna  1880      F   2604
2   3       Emma  1880      F   2003
3   4  Elizabeth  1880      F   1939
4   5     Minnie  1880      F   1746
5   6   Margaret  1880      F   1578
6   7        Ida  1880      F   1472
7   8      Alice  1880      F   1414

In [7]:
## №2 
### Останні 8 рядків

In [8]:
print(df.tail(8))

              Id     Name  Year Gender  Count
1825425  1825426       Zo  2014      M      5
1825426  1825427    Zyeir  2014      M      5
1825427  1825428     Zyel  2014      M      5
1825428  1825429   Zykeem  2014      M      5
1825429  1825430   Zymeer  2014      M      5
1825430  1825431  Zymiere  2014      M      5
1825431  1825432    Zyran  2014      M      5
1825432  1825433    Zyrin  2014      M      5

In [9]:
## №3 
### Імена стовпців набору даних

In [10]:
print(df.columns)

Index(['Id', 'Name', 'Year', 'Gender', 'Count'], dtype='object')

In [ ]:
## №5 
### Кількість унікальних імен

In [15]:
unique_names_count = df['Name'].nunique()

print("Кількість унікальних імен у наборі даних:", unique_names_count)

Кількість унікальних імен у наборі даних: 93889

In [16]:
## №10 
### Кількість унікальних імен у кожному році

In [17]:
unique_names_by_year = df.groupby('Year')['Name'].nunique()

print(unique_names_by_year)

Year
1880     1889
1881     1830
1882     2012
1883     1962
1884     2158
        ...
2010    31603
2011    31418
2012    31236
2013    30774
2014    30579
Name: Name, Length: 135, dtype: int64

In [18]:
## №11 
### Рік з найбільгою кількістью унікальних імен

In [20]:
max_unique_year = unique_names_by_year.idxmax()
max_unique_count = unique_names_by_year.max()

print("Рік:", max_unique_year)
print("Кількість:", max_unique_count)

Рік: 2008
Кількість: 32488

In [21]:
## №12 
### Найпопулярніше ім’я в році з найбільшою кількістю унікальних імен (тобто у 2008 році)

In [22]:
unique_names_per_year = df.groupby('Year')['Name'].nunique()
most_unique_names_year = unique_names_per_year.idxmax()
most_popular_name_most_unique_year = df[df['Year'] == most_unique_names_year].groupby('Name')['Count'].sum().idxmax()
print(f"'{most_popular_name_most_unique_year}'")

'Jacob'

In [23]:
## №13 
### Рік, коли ім’я “Jacob” було найпопулярнішим серед жіночих Імен

In [24]:
jacob_female = df[(df['Name'] == 'Jacob') & (df['Gender'] == 'F')]
most_popular_row_jacob_female = jacob_female[jacob_female['Count'] == jacob_female['Count'].max()]
print(most_popular_row_jacob_female)

              Id   Name  Year Gender  Count
1455556  1455557  Jacob  2004      F    171

In [25]:
## №14 
### Рік із найбільшою кількістю гендерно нейтральних імен (однакові чоловічі та жіночі імена)

In [26]:
names_F = df[df['Gender'] == 'F'][['Name', 'Year']]
names_M = df[df['Gender'] == 'M'][['Name', 'Year']]
gender_neutral_names = pd.merge(names_F, names_M, on=['Name', 'Year'])
gender_neutral_names_by_year = gender_neutral_names['Year'].value_counts()
year_with_most_gender_neutral_names = gender_neutral_names_by_year.idxmax()
num_gender_neutral_names = gender_neutral_names_by_year.max()
gender_neutral_names_df = pd.DataFrame({
    'Year': [year_with_most_gender_neutral_names],
    'Gender_neutral_names': [num_gender_neutral_names]
})
gender_neutral_names_df.set_index('Year', inplace=True)

print(gender_neutral_names_df)

      Gender_neutral_names
Year
2008                  2557

In [27]:
## №15
### Загальна кількість народжень за рік.

In [28]:
total_births_by_year = df.groupby('Year')['Count'].sum()
total_births_by_year_df = total_births_by_year.reset_index()
total_births_by_year_df.set_index('Year', inplace=True)
print(total_births_by_year_df)

        Count
Year
1880   201484
1881   192699
1882   221538
1883   216950
1884   243467
...       ...
2010  3686589
2011  3646730
2012  3643336
2013  3626802
2014  3670151

[135 rows x 1 columns]

In [29]:
## №16
### Загальна кількість народжень за рік.

In [30]:
year_with_most_births = total_births_by_year_df['Count'].idxmax()
print(year_with_most_births)

1957

In [31]:
## №17
### Кількість дівчаток та хлопчиків, які народились кожного року

In [32]:
births_by_year_gender = df.groupby(['Year', 'Gender'])['Count'].sum().unstack()
print(births_by_year_gender)

Gender        F        M
Year
1880      90993   110491
1881      91954   100745
1882     107850   113688
1883     112321   104629
1884     129022   114445
...         ...      ...
2010    1772738  1913851
2011    1753500  1893230
2012    1753922  1889414
2013    1745339  1881463
2014    1768775  1901376

[135 rows x 2 columns]

In [ ]:
## №18
### Кількість років, коли дівчаток народжувалось більше, ніж хлопчиків

In [55]:
gender_counts = df.groupby(['Year', 'Gender'])['Count'].sum().unstack(fill_value=0)

years_with_more_girls = (gender_counts['F'] > gender_counts['M']).sum()

print(years_with_more_girls)

Кількість років, коли народжувалося більше дівчаток, ніж хлопчиків: 54

In [40]:
## №21
### Кількість разів коли хлопчиків називали Barbara

In [57]:
barbara_count_for_boys = df[(df['Name'] == 'Barbara') & (df['Gender'] == 'M')]['Count'].sum()

print(barbara_count_for_boys)

4139

In [46]:
## №22
### Скільки років проводилось спостереження

In [58]:
min_year = df['Year'].min()
max_year = df['Year'].max()
num_years = max_year - min_year + 1
print(f"'Спостереження проводилось {num_years} років'")

'Спостереження проводилось 135 років'

In [ ]:
name_counts = df.groupby(['Name', 'Year'])['Count'].sum().reset_index()

# Відбір імен, які присутні у кожному році
names_present_each_year = name_counts.groupby('Name').filter(lambda x: x['Year'].nunique() == df['Year'].nunique())

# Підсумовування значень Count для кожного імені та сортування
popular_neutral_names = names_present_each_year.groupby('Name')['Count'].sum().sort_values(ascending=False)

print("Найпопулярніші гендерно-нейтральні імена, присутні кожного року:")
print(popular_neutral_names)  # Показуємо перші 10 найпопулярніших імен