In [1]:
## Номер варінту

In [2]:
N = (16 + 4) % 5 + 1
print(N)

1

In [3]:
## Дані з файлу

In [4]:
import pandas as pd

df = pd.read_csv('NationalNames.csv')

In [5]:
## №1 
### Перші 8 рядків

In [6]:
print(df.head(8))

   Id       Name  Year Gender  Count
0   1       Mary  1880      F   7065
1   2       Anna  1880      F   2604
2   3       Emma  1880      F   2003
3   4  Elizabeth  1880      F   1939
4   5     Minnie  1880      F   1746
5   6   Margaret  1880      F   1578
6   7        Ida  1880      F   1472
7   8      Alice  1880      F   1414

In [7]:
## №2 
### Останні 8 рядків

In [8]:
print(df.tail(8))

              Id     Name  Year Gender  Count
1825425  1825426       Zo  2014      M      5
1825426  1825427    Zyeir  2014      M      5
1825427  1825428     Zyel  2014      M      5
1825428  1825429   Zykeem  2014      M      5
1825429  1825430   Zymeer  2014      M      5
1825430  1825431  Zymiere  2014      M      5
1825431  1825432    Zyran  2014      M      5
1825432  1825433    Zyrin  2014      M      5

In [9]:
## №3 
### Імена стовпців набору даних

In [10]:
print(df.columns)

Index(['Id', 'Name', 'Year', 'Gender', 'Count'], dtype='object')

In [14]:
unique_names_count = df['Name'].nunique()

print("Кількість унікальних імен у наборі даних:", unique_names_count)

Кількість унікальних імен у наборі даних: 93889